@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,700;1,400&family=Fredoka+One&family=Inter:wght@500;600&family=Open+Sans:wght@600&family=Roboto:wght@500;700&family=Rubik:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;

}

.navbar-brand {
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;


}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

}

.landing {
  background: #001C2E repeat;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.landingPara {
  font-size: 1.3rem;
}

.landingBtn {
  padding: 1rem;
  border: 1px solid #000;
  border-radius: 0.4rem;
  outline: none;
  background: #30336b;
  color: #fff;
  transition: all 0.5s;
}

.landingBtn:hover {
  background: #22a6b3;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 2px solid #2ecc71;
  width: 100%;
}

.modal-header {
  background: #2ecc71;
}

.tableBtn {
  padding: 0.5rem;
  background: #2ecc71;
  color: #fff;
  border-right: #2ecc71;
  border: none;
  outline: none;
}

.tableData {
  background: #ecf0f1;
  width: 100%;
}

.modal-body {
  padding: 0 !important;
}

.tableHead {
  color: #2ecc71;
  padding: 1rem 0;
}

.delete {
  background: #bdc3c7;
  padding: 0.5rem;
  border: #7f8c8d;
  border-radius: 4px;
}

.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.childSearch {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.find {
  margin-bottom: 0 !important;
  padding: 1rem;
}

td,
th {
  border: 1px solid #000;

}

thead {
  background: #2ecc71;
}

thead tr th {
  color: #fff;
}

tbody {
  background: #fff;
}

.formPart {
  width: 100%;
  margin: 1rem 0;
}

.formLabel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addBtn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.addChildBtn {
  background: #bdc3c7;
  padding: 0.5rem;
  border: #7f8c8d;
  border-radius: 4px;

}